@font-face {
    font-family: "Gibson Light";    
    src: url('../fonts/GibsonLight-Regular.ttf');
}
@font-face {
    font-family: "Gibson Bold";
    src: url('../fonts/gibson-bold.ttf');
}
@font-face {
    font-family: "Montserrat";    
    src: url('../fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: "Montserrat Medium";    
    src: url('../fonts/Montserrat-Medium.ttf');
}
@font-face {
    font-family: "Montserrat Black";    
    src: url('../fonts/Montserrat-Black.ttf');
}
@font-face {
    font-family: "Montserrat Bold";    
    src: url('../fonts/Montserrat-Bold.ttf');
}
@font-face {
    font-family: "Montserrat Semibold";    
    src: url('../fonts/Montserrat-SemiBold.ttf');
}
@font-face {
    font-family: "Montserrat Light";    
    src: url('../fonts/Montserrat-Light.ttf');
}

h1,h2,h3,h4,h5,h6 {
    font-family: "Gibson Light", "Gibson Bold";
}

p {
    font-family: "Montserrat", "Montserrat Semibold";
}

.container {
    width: 100%;
    height: 500px;
}

button {
    border-width: 0;
}

.leaflet-container {
    height: 100%;
    width: 100%;
}