:root {
    --primary-color: #311b92;
    --second-color: #1a237e;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to var(--primary-color), var(--second-color));
}

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}