.spinner-loader {
    position: "absolute";
    right: 48%;
    top: 48%;
}

.pencil-editor {
    color: white;
    top: 50%;
    right: 0;
    margin-right: 0.75em;
    /* display: none;
    visibility: hidden; */
}

.pencil-editor:hover {
    display: block;
    visibility: visible;
}